.wrapper {
  position: relative;
}

.scheduler {
  background-color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;

  .user-info {
    display: flex;
    align-items: center;

    .avatar {
      margin-right: 10px;
    }

    .avatar-box {
      width: 50px;
      height: 50px;
      position: relative;
      background: transparent no-repeat center center;
      background-size: cover;
      padding-top: 100%;
      border-radius: 50%;
    }
  }

  .scheduler__aside-header {
    height: 60px;
    border: 1px solid #d9dee3;
  }

  .scheduler__wrapper-header {
    display: flex;
  }

  .scheduler__aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    position: absolute;
    z-index: 5;
    left: 0;
    max-height: 400px;
    background-color: #fff;

    .scheduler__aside-row {
      padding: 10px;
      height: 80px;
      display: flex;
      align-items: center;
      border: 1px solid #d9dee3;
    }
  }

  .scheduler__main-block {
    overflow-x: auto;
    margin-left: 300px;

    &::-webkit-scrollbar {
      height: 1px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #1e133d;
    }

    &::-webkit-scrollbar-track {
      background: #fff;
    }
  }

  .scheduler__main-row {
    height: 80px;
    display: flex;
  }

  .scheduler__header {
    margin: 0;
    display: flex;
    align-items: stretch;
    height: 60px;

    .week-day {
      padding: 10px;
      flex: 1 1 0;
      text-align: center;
      text-transform: uppercase;
      border: 1px solid #d9dee3;
      min-width: 90px;
      max-width: 90px;

      &.today {
        background-color: #696cff26;
      }
      &:last-child {
        border-right: none;
      }

      span {
        color: #70757a;
        font-size: 11px;
        font-weight: 500;
        line-height: 20px;
      }
    }
  }

  .main-row-cell {
    min-width: 90px;
    max-width: 90px;
    height: 100%;
    position: relative;
    border: 1px solid #d9dee3;
    box-sizing: border-box;

    &.today {
      background-color: #696cff26;
    }

    &.holiday,
    .week-day.holiday {
      background-color: #d9b97517;
    }
  }

  .event-marker {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 110%;
    height: 40px;
    padding: 10px;
    background-color: #211c46;
    transform: translate(-50%, -50%);
  }

  .first-date .event-marker {
    width: 100%;
    left: 95%;
    background-color: #211c46;
    border-radius: 4px;
  }
  .last-date .event-marker {
    width: 100%;
    left: -10%;
    border-radius: 4px;
    background-color: #211c46;
  }

  .guest-name {
    display: none;
    position: absolute;
    top: 50%;
    color: #fff;
    white-space: nowrap;
    font-weight: bold;
    transform: translateY(-50%);
    padding-left: 45px;
    z-index: 20;
    max-width: 115px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .full-guest-name {
    max-width: 200px;
  }
  .first-date .guest-name {
    display: block;
  }

}
